name: Production Checks

on:
  pull_request:
    branches:
      - production

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: |
          docker compose build

      - name: Start containers
        run: |
          docker compose up -d

      - name: Wait for MySQL
        run: |
          sleep 20

      - name: Laravel sanity checks (NO tests)
        run: |
          docker compose exec -T laravel php artisan migrate --force

      - name: Build Frontend
        run: |
          docker compose exec -T react npm install
          docker compose exec -T react npm run build
